<h3><%= @user.username %></h3>
<h3>My Goals</h3>
<ul>
<% @user.goals.each do |g| %>
  <% if g.public %>
    <li><%= link_to g.title, goal_url(g) %></li>
  <% else %>
    <% @private_goals << g %>
  <% end %>
<% end %>
</ul>
<% if current_user && @user == current_user %>
  <h4>Private Goals</h4>
  <ul>
  <% @private_goals.each do |pg| %>
    <li><%= link_to pg.title, goal_url(pg) %></li>
  <% end %>
  </ul>
<% end %>
<% if current_user && @user == current_user %>
<%= link_to "Add Goal", new_goal_url %>
<% end %>
<h3>Comments</h3>
<ul>
<% @user.comments.each do |c| %>
<li><%= c.body %></li>
<% end %>
</ul>
<form action="<%= user_comments_url(@user.id) %>" method="post">
<%= auth_token %>
<label>Comment
<textarea name="comment[body]" rows="8" cols="80"></textarea>
</label>
<input type="submit" value="submit">
</form>
