<h3>
  <%= @goal.title %>
</h3>
<h4>
  by <%= @goal.user.username %>
</h4>
<p>
<%= @goal.body %>
</p>
<% if @goal.complete %>
  <h4>
    Status: complete
  </h4>
  <%= button_to "incomplete goal", incomplete_goal_url(@goal) %>
<% else %>
  <h4>
    Status: incomplete
  </h4>
  <%= button_to "complete goal", complete_goal_url(@goal) %>
<% end %>
<h3>Cheers: <%= @goal.cheers_count %></h3>
<% if current_user.has_remaining_cheers? %>
<%= button_to "add cheers", goal_cheers_url(@goal.id), method: :post %>
<% end %>
<% if current_user.has_cheersed_goal?(@goal) %>
<%= button_to "remove cheers", goal_cheer_url(@goal.id, 1), method: :delete %>
<% end %>
<h3>Comments</h3>
<ul>
<% @goal.comments.each do |c| %>
<li><%= c.body %></li>
<% end %>
</ul>
<form action="<%= goal_comments_url(@goal.id) %>" method="post">
<%= auth_token %>
<label class="comment-label">Comment:
<textarea class="comment-body" name="comment[body]" rows="8" cols="80"></textarea>
</label>
<input type="submit" value="submit">
</form>
<br>
<%= link_to "back to #{@goal.user.username}", user_url(@goal.user) %>
